/* container */
$widthContainer: 1196px;
$paddingContainer: 20px;

/* base typography */
$baseFont: 'Montserrat', sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #000; /* base color for <a> */